<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h2>Новый пользователь</h2>
<p></p>
<form th:action="@{/admin/add}" th:object="${newuser}" method="post">
    <table>
        <tr>
            <td>E-mail</td>
            <td>:</td>
            <td><input type="email" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>:</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Роль</td>
            <td>:</td>
            <td>
                <select th:field="*{role}" multiple>
                    <option th:each="rol : ${roles}"
                            th:value="${rol.getId()}"
                            th:text="${rol.getRoleName()}">
                    </option>
                </select>
                </option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit" name="action" value="cancel">Отмена</button>
    <button type="submit" name="action" value="save">Сохранить</button>
</form>
<a th:href="@{/logout}">Выйти</a>
</body>
</html>