<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<a th:href="@{/user}">Данные</a>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td>
            <table>
                <tr th:each="role : ${user.getRole()}">
                    <td th:text="${role.getRoleName()}"></td>
                </tr>
            </table>
        </td>


        <td>
            <form th:action="@{/admin/edit/{userId}(userId=${user.id})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>


        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{userId}(userId=${user.id})}">
                <input type="submit" value="Delete!"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</div>
<p><a href="/admin/add">Новый user</a></p>
<a th:href="@{/logout}">Выйти</a>
</div>
</body>
</html>